:root {
  /* Luz */
  --colorPrimarioLuz: #d4e6a5;
  --colorPimarioSombra: #000000;
  /* Colores */
  --primerColor: #ffc300;
  --segundoColor: #ff5733;
  --tercerColor: #c70039;
  --cuartoColor: #900c3f;
  /* Fondo */
  --colorFondo: #f1f5f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

/* Navbar */

.navbar {
  /* Display */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Sizing */
  width: 100vw;
  height: 10vh;
  /* Style */
  background: linear-gradient(90deg, #03045e, #023e8a);
}

.logo {
  /* Sizing */
  width: 40%;
  /* Style */
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 2rem;
}

.aviso {
  /* Sizing */
  width: 40%;
  /* Style */
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 1rem;
  
}

/* App */

.app {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sizing */
  width: 100%;
  height: 90vh;
  /* Style */
  background-color: black;
}

.container {
  /* Display */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* Sizing */
  width: 99%;
  height: 98%;

}

.box {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sizing */
  margin: 1%;
  /* Style */
  background: white;
  border-radius: 5px;
  font-size: 1.25rem;
}

.box-activated {
  /* Style */
  background: linear-gradient(90deg, #26ff00, #2ca500);
  color: white;
}

.box-limit {
  /* Style */
  background: linear-gradient(90deg, #ff0000, #b30000); 
  color: black;
}


